.travel{
    color: #131318;
    font-family: Mulish;
    font-size: 36px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.list{
    color: var(--Dark-02, #424247);
    text-align: center;
    font-family: Mulish;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.Hlist{
    color: #FF5400;
    text-align: center;
    font-family: Mulish;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

nav>ul a{
    text-decoration: none;
}

.h_line{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

nav>ul{
    display: flex;
    gap: 44px;
    margin-right: 44px;
}

nav li {
    list-style: none;
}

.c{
    display: flex;
    gap: 5px;
}




header{
    margin-left: 135px;
    margin-right: 135px;
    width: 1180px;
}

.h{
    margin-top: 25px;
    width: 1180px;
    height: 520px;
    flex-shrink: 0;
    background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%),url(./Images/Group\ 13\ \(1\)\ \(1\).png);
    background-repeat: no-repeat;
    background-position: auto;
    border-radius: 16px;  
}

.exp{
    color: #FFF;
    font-family: Mulish;
    font-size: 64px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.explore{
    padding-top: 40px;
    text-align: center;
}

.expara{
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; 
}


.search-bar {
    display: flex;
    justify-content: center;
    padding: 16px;
    gap: 24px;
    background-size: cover;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
}
.search-box {
    display: flex;
    margin: 0;
    padding: 0;
}
.search-box > div {
    margin: 0 7px;
}
input, select {
    padding: 10px;
    margin: 0;
    border: 1px solid #ddd;
    border-radius: 5px;
}
button {
    padding: 10px 20px;
    margin: 0;
    border: none;
    border-radius: 8px;
    background-color: #ff6a00;
    color: white;
    cursor: pointer;
}
button:hover {
    background: #FF5400;
    border-radius: 8px;
}


.l{
    color: rgba(19, 19, 24, 0.50);
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.sb{
    height: 40px;
}



/* main1 */

main{
    width: 1180px;;
    margin-left: 135px;
}
.m1-totalcol{
    display: flex;
}

.tours{
    color: #131318;
    text-align: center;
    font-family: Mulish;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.m1c1p{
    color: rgba(19, 19, 24, 0.70);
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; 
}


/* main3 */

.main3{
    margin-top: 80px;
}

.m3h{
    text-align: center;
}

.m3head{
    color: #131318;
    text-align: center;
    font-family: Mulish;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.m3para{
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; 
}

.m3totalcol{
    padding-top: 80px;
    display: flex;
    justify-content: space-between;
}
.m3img{
    padding-left: 170px;
}

.m3img2{
    padding-left: 560px;
}

.m3dh4{
    color: #131318;
    text-align: center;
    font-family: Mulish;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.m3dp{
    color: #5A5A5D;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; 
}

.m3dp2{
    color: #5A5A5D;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; 
    padding-left: 345px;
}

.m3center{
    padding-top: 15px;
}

.m3col2{
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}

/* m2 */

.m2-h{
    color: #131318;
    text-align: center;
    font-family: Mulish;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.m2-p{
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-family: Mulish;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; 
}

.m2imgfirst,.m2imgsecond,.m2imgthird,.imagesofm2{
    gap: 24px;
}

.imgm3{
    gap: 24px;
    border-radius: 16px;
}

.imagesofm2{
    padding-top: 30px;
    
}

.m2imgfirst , .m2imgsecond,.m2imgthird{
    display: flex;
    gap: 30px;
    padding-top: 24px;
}


/* m5 */

.m5totalcol{
    display: flex;
    justify-content: space-between;
}

.m5col2 {
    position: relative;
}

.m5col2 img {
    width: 100%; 
    height: auto; 
    display: block;
}

.m5h {
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px; 
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);  
    padding: 10px; 
}

.simple{
    color: #131318;
    font-family: Mulish;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: 60px; 
}
.m5p{
    color: #5A5A5D;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
    padding-bottom: 15px;
}
.m5li{
    color: #131318;
    font-family: Mulish;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px; /* 162.5% */
}

.btnsee{
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.btnm5{
    width: 174px;
    height: 52px;
    flex-shrink: 0;
    

}

.button{
    padding-top: 32px;
}


/* footer */
footer{
    margin-top: 60px;
    width: 1440px;
}

.ft{
    display: flex;
    gap: 8px;
    justify-content: center;
}
.heroft{
    color: var(--Dark-01, #131318);
    font-family: Mulish;
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.ft_travel{
    color: #FF5400;
    font-family: Mulish;
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.ftpara{
    text-align: center;
}
.icons{
    padding-top: 6px;
    padding-bottom: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.line{
    
    width: 872px;
    background: rgba(19, 19, 24, 0.10);
}
.ftp{
    text-align: center;
}


@media screen and (max-width:600px) {

    header{
        margin-left: 0px;
        margin-right: 0px;
        width: auto;
     }
    nav{
        flex-direction: column;
        align-items: center;
    }

    nav> ul{
        flex-direction: column;
        align-items: center;
    }

    .h{
        flex-direction: column;
        width: 335px;
        height: 483px;
        margin-left: 50px;
        
    }

    .exp{
        flex-direction: column;
        color: #FFF;
        font-family: Mulish;
        font-size: 35px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
    }

    .search-box{
        display: flex;
        flex-direction: column;
        gap: 7px;
        text-align: center;
    }

    .l,.sb{
        width: 205px;
        gap: 5px;
    }

    main{
        margin-left: 2px;
    }
    .m1-totalcol{
        flex-direction: column;
        width: 205px;
    }
    .tours{
        width: auto;
        margin-left: 20px;
    }

    .m1c1p{
        margin-left: 20px;
    }
  

    .m1c2{
        padding-top: 10px;
        width: 205px;
        height:342px;
        
    }
    .m1c2img{
        width: 335px;
        height:342px;
        margin-left: 35px;
    }
     .btn{
        margin-left: 100px;
     }
  
     .ft, .ftpara, .icons, .line, .ftp{
        justify-content: left;
        text-align: left;
        align-content: flex-start;
     }
     .line{
        width: 305px;
        align-content: flex-start;
        justify-self: left;
        padding: 0;
     }

    footer{
        justify-content: left;
        text-align: left;
        width: 375px;
    }

    .ft{
        justify-content: center;
    }
    .icons{
        justify-content: center;
        text-align: center;
    }

    .ftp{
        text-align: center;
    }

}

@media screen and (min-width:601px) and (max-width:1000px) {
    header{
        margin-left: 1px;
    }
    
/* main3 */

    main{
        margin-left: 5px;
    }
    
}




